.modal,
form {
    flex-direction: column;
    display: flex;
}
form div,
textarea {
    width: 100%;
    margin-bottom: 26px;
}
#contact_modal,
#modal_media {
    display: none;
    position: fixed;
    background: rgba(196, 196, 196, 0.4);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    max-width: 669px;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    box-shadow: -5px 10px 30px 0 rgba(0, 0, 0, 0.25);
}
.modal header {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    height: auto;
}
.modal header img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.modal header h2 {
    font-size: 64px;
    font-weight: 400;
    width: calc(100% - 50px);
    margin: 0 0 13px;
    max-height: 73px;
}
.formData,
.modal header h2:first-child {
    margin: 0;
}
form {
    width: 100%;
    align-items: flex-start;
}
form label {
    color: #312e2e;
    font-size: 36px;
}
form div {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
textarea {
    height: 170px;
}
header button {
    background: 0 0;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}
#modal_media {
    justify-content: center;
    align-items: center;
}
.media-slider {
    border-radius: 8px;
    position: relative;
    max-width: 80%;
}
.media-slider button {
    width: 72px;
    height: 72px;
    position: relative;
    left: 100%;
    top: 72px;
    background: 0 0;
    border: none;
    cursor: pointer;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}
.slider-content img,
.slider-content video {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.slider-content {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-content video {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.slider-content img {
    width: 100%;
    object-fit: cover;
    object-position: center 40%;
}
.slider-arrows {
    position: absolute;
    left: -96px;
    /* left: -100%; */
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 192px);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    height: 96px;
    /* border: 1px solid #000;   */
}
.slider-arrows button.left {
    position: relative;
    left: 0;
    top: 0;
    width: 96px;
    height: 96px;
    /* background: #000; */
    margin: 0;
}
.slider-arrows button.right {
    position: relative;
    top: 0;
    left: 0;
    height: 96px;
    /* background: #000; */
    width: 96px;
    margin: 0;
}
.slider-arrows button img {
    width: 96px;
    height: 96px;
}
.arrow_right {
    transform: rotate(180deg);
}

